<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= title %></title>
</head>
<body>
  <header>
    <%- include('./partials/_header') %>
  </header>
    <div>Click <a href='/urls/new'>THIS</a> to shorten a URL<br /></div>
  <ul>
    <% usersURLs.forEach(function(url) { %>
      <li>
        <%= url.shortURL %> :: <%= url.longURL %> :: 
        <form method='POST' action='/urls/<%=url.shortURL%>/delete'>
          <button type='submit'>Delete</button>
        </form>
        <form method='POST' action='/urls/<%=url.shortURL%>'>
          <input id='longURL' type='text' name='longURL' placeholder='<%= url.shortURL %>' style='width: 300px'>
          <button type='submit' value='Submit'>Edit</button>
        </form>
      </li> 
   <% }) %>
  </ul> 
</body>
</html>