<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= title %></title>
</head>
<body>
  <header>
    <%- include('./partials/_header') %>
  </header>
    <div>Click <a href='/urls/new'>THIS</a> to shorten a URL</div>
  <ul>
    <% for (let shortURL in urls) { %>
      <li>
        <%= shortURL %> :: <%= urls[shortURL] %> :: 
        <form method='POST' action='/urls/<%=shortURL%>/delete'>
          <button type='submit'>Delete</button>
        </form>
        <form method='POST' action='/urls/<%=shortURL%>'>
          <input id='longURL' type='text' name='longURL' placeholder='<%= urls[shortURL] %>' style='width: 300px'>
          <button type='submit' value='Submit'>Edit</button>
        </form>
      </li> 
   <% } %>
  </ul> 
</body>
</html>